.header {
  background: var(--gray-700);
  height: 12.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 1.375rem;
  height: 2.25rem;
  margin-right: 0.75rem;
}

.title {
  margin-top: -5px;
  font-size: 2.5rem;
  font-weight: 900;
}

.title > span {
  color: var(--blue);
}

.title > span + span {
  color: var(--purple-dark);
}